decoded.txt
decoder
encoder
input.txt
output.bin
*.o
golomb_test
encoded.bin
*~
*.log
*.tmp
.idea/
.vscode/
decoded_video.avi
encoded_video.bin
decoded_video.y4m
lossless_img
inter_codec
intra_codec
psnr_mse